body {
    font-family: Arial, sans-serif;
	min-height: 100vh;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	background-color: #FFFFFF;
	height: 100%;
	align-items: center;
	margin-left: 200px;
}

h1{
    margin-top: 0px;
	line-height: 0.5;
	margin-bottom: 30px;
	color: darkblue;
}

h2{
	color: darkblue;
	margin-top: 0;
	font-size: 14pt;
}

h3{
	margin-left:0px;
	font-size: 14px;
	line-height: 0.5;
}

p {
  text-align: justify;
}

.container {
    display: flex;
    align-items: flex-start;
}

.box-container {
	margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%;
	max-width: 1000px;
    background-color: #FFFFFF;
	text-align: left;
}


.title-box {
    padding: 20px;
    width: 30%;
    background-color: #e6f3ff;
	border-radius: 40%;
	height: 1500px;
	display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
}

.title-box img {
    width: 200px;
	height: 230px;
    border-radius: 20%;
	margin-top: 40px;
	margin-bottom: 20px;
	
}

.title-info {
	/*margin-bottom: 40px;
	margin-left: 80px;*/

}







